h1{
    font-weight:bold;
    font-size:150px;
    font-style: italic;
    color:white;

}

.container {
    border: 2px solid black;
    padding: 25px;
    background: url(http://images.meredith.com/recipecom/images/home/recipeBG2740x920.jpg.pagespeed.ce.xBgItY8Iod.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.oprah-img {
    margin: auto;
    display: block;
    padding-top: 20px;}