<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>recipe book</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/stylesheet2.css">


</head>

<body >
<div class="container-fluid text-center">

    <nav class="navbar navbar-fixed-top first-header">
        <div class="container-fluid">

        </div>
    </nav>

    <ul class="nav nav-tabs distance">
        <li class="active"><a href="#">Home</a></li>
        <li class="active"><a href="#">RecipeList</a></li>

    </ul>

</div>


<div class="bg">
    <img src="images/injera.jpg"    height="740" style="width:100%;"/>

<div class="centered">
    <h1>Injera</h1>
</div>

    <div class="top-left">


        <img src="images/720px-Flag_of_Ethiopia.svg.png"  height="50" width="100"/>
    </div>
    <div class="bottom-left">

    <h2 class="title">Ingredients</h2>

    <p>
    <ul>

        <li> ¾ cup teff flour (found in health food shops)</li>

        <li> 3½ cups water</li>

        <li>pinch of salt</li>
    </ul>
    </p>
        <h3><strong>Directions</strong></h3>
        <p>
        <ul>
            <li>Standing time 2 days</li>

            <li>Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to bubble.</li>

            <li>The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.</li>

            <li>Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.</li>

            <li>Do not let it brown, and make sure that it is not too thick.</li>
        </ul>

        </p>

    </div>

</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>