<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Injera</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body >

        <div class=".col-xs-10">
    <h1>Injera</h1>
    <img src="images/injera.jpg" height="425" width="541"/>
            <h2>Ingredients</h2>
            <p>
                <ul>

                    <li> ¾ cup teff flour (found in health food shops)</li>

                    <li> 3½ cups water</li>

                    <li>pinch of salt</li>
                </ul>
            </p>
            <h3>Directions</h3>
            <p>
                <ul>
                    <li>Standing time 2 days</li>

                    <li>Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to bubble.</li>

                    <li>The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.</li>

                    <li>Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.</li>

                    <li>Do not let it brown, and make sure that it is not too thick.</li>
                </ul>

            </p>
    </div>


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>